/* GLOBAL */

@font-face {
  font-family: 'Segoe';
  src: url('../fonts/segoe-ui-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/SourceSansPro-Light.woff') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe';
}
/* NAVBAR */

.menu-nav {
  height: 80px;
  background: #fff;
}

.menu-list {
  display: flex;
  width: 40%;
  max-height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.li-nav {
  font-size: 18px;
  border-bottom: 7px solid transparent;
}

.li-nav:last-child {
  margin-right: 30px;
}

.li-nav:hover {
  transition: 0.3s ease-in-out;
  border-image: url('../images/prostokat-1392.png') 50 round;
}

.logo-header {
  display: inline-block;
  background: #ff0c84;
  padding: 55px 5px 5px 5px;
  margin: 0 auto;
}

.logo-center {
  width: 20%;
  display: inline-block;
}

@media (max-width: 767px) {
  .menu-nav {
    height: 100%;
  }

  .menu-list {
    display: block;
    width: 60%;
    max-height: 100%;
    flex-wrap: wrap;
  }

  .li-nav {
    display: inline-block;
  }

  .li-nav:last-child {
    margin-right: 10px;
  }
}

/* BANNER */

.row-banner {
  height: 455px;
  margin-left: 0;
  margin-right: 0;
}

.banner {
  height: 570px;
  width: 100%;
  background-image: url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: -100;
}

.banner .container .row h3:first-child {
  font-size: 45px;
  line-height: 46px;
  margin: 0 0 20px 0;
  padding: 0;
}

.banner .container .row p:last-child {
  font-size: 18px;
  line-height: 27px;
  max-height: 50px;
  overflow: hidden;
  margin: 0 0 57px 0;
}

/* MAIN */

.main-card {
  z-index: 100;
}

.image-main {
  background-image: url('../images/art-photo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.boks {
  line-height: 27px;
  font-size: 18px;
  padding: 38px 39px 0 28px;
  color: #707070;
  position: relative;
  height: 379px;
  background: #fff;
  border-bottom: 1px solid #c4c4c4;
}

.boks p:nth-child(2) {
  color: #000;
  line-height: 29px;
  font-size: 22px;
  max-height: 81px;
  overflow: hidden;
}

.boks p:nth-child(3) {
  max-height: 132px;
  overflow: hidden;
  padding-bottom: 0;
}

.boks img:last-child {
  position: absolute;
  bottom: 13px;
  right: 13px;
}

.btn-plus:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* GALLERY */

.row-gallery {
  margin-bottom: 104px;
}

.gallery {
  font-size: 45px;
  margin: 0;
  padding: 0;
}

.gallery-name {
  font-family: 'Source Sans Pro', sans-serif;
}

.gradient {
  height: 7px;
  margin-left: 22px;
}

.image-gallery {
  position: relative;
  height: 230px;
}

.image-gallery-descr {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #ff0c84;
  height: 230px;
  color: #fff;
  width: 100%;
}

.cube-big {
  height: 40px;
  width: 40px;
  background: #fff;
  opacity: 0.2;
}

.cube-small {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30px;
  left: 30px;
  background: #fff;
  opacity: 0.2;
}

.image-gallery-photo {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  height: 230px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image-gallery-photo-1 {
  background-image: url('../images/art-photo-1of3.png');
}

.image-gallery-photo-2 {
  background-image: url('../images/art-photo-2of3.png');
}

.image-gallery-photo-3 {
  background-image: url('../images/art-photo-3of3.png');
}

.image-gallery-photo:hover {
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.gallery-header {
  line-height: 23px;
  font-size: 18px;
  margin: 19px 35px 22px 35px;
  padding: 0;
}

.gallery-par {
  line-height: 22px;
  font-size: 14px;
  margin: 0 35px 0 35px;
  padding: 0;
  max-height: 70px;
  overflow: hidden;
}

/* FOOTER */

.footer-bottom {
  background: #333;
  height: 100px;
}

.container-footer {
  height: 100%;
}

.footer-bottom p {
  color: #fff;
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 0;
  margin-right: 12%;
}

/* RWD QUERIES */

@media (min-width: 1200px) {
  .container {
    max-width: 1178px;
  }
}
